#### What is the effect of product layout on purchasing behaviour in sales ?

In [2]:
import pandas as pd

df = pd.read_excel('../QVI_results.xlsx')

df.info()
df.drop(columns=['MOIS'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              264836 non-null  datetime64[ns]
 1   MOIS              1564 non-null    float64
 2   STORE_NBR         264836 non-null  int64
 3   LYLTY_CARD_NBR    264836 non-null  int64
 4   LIFESTAGE         264836 non-null  object
 5   PREMIUM_CUSTOMER  264836 non-null  object
 6   TXN_ID            264836 non-null  int64
 7   PROD_NBR          264836 non-null  int64
 8   PROD_NAME         264836 non-null  object
 9   BRAND             264836 non-null  object
 10  SIZE              264836 non-null  object
 11  PRODUCT           264836 non-null  object
 12  PROD_QTY          264836 non-null  int64
 13  TOT_SALES         264836 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(6)
memory usage: 28.3+ MB

In [3]:
# Trial stores dataframe
trial_store = df[df['STORE_NBR'].isin([77, 86, 88])][['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TOT_SALES']]
trial_store.head()

           DATE  STORE_NBR  LYLTY_CARD_NBR  TOT_SALES
69   2019-05-20         88           88320        9.2
202  2019-06-17         77           77069        8.4
1438 2019-03-28         77           77000        3.3
1439 2019-04-13         77           77000        3.0
1440 2018-07-17         77         2330211        2.3

In [4]:
# Group by store and month, then calculate metrics
monthly_metrics = trial_store.groupby([
    'STORE_NBR', 
    pd.Grouper(key='DATE', freq='M')
]).agg({
    'TOT_SALES': 'sum',  # Monthly sales revenue
    'LYLTY_CARD_NBR': ['nunique', 'count']  # Unique customers and total transactions
}).reset_index()

# Rename columns for clarity
monthly_metrics.columns = [
    'STORE_NBR', 
    'MONTH', 
    'TOTAL_SALES', 
    'NUM_CUSTOMERS',
    'NUM_TRANSACTIONS'
]

# Calculate transactions per customer
monthly_metrics['TRANS_PER_CUSTOMER'] = monthly_metrics['NUM_TRANSACTIONS'] / monthly_metrics['NUM_CUSTOMERS']

# Sort by store and month
monthly_metrics = monthly_metrics.sort_values(['STORE_NBR', 'MONTH'])

print("Monthly metrics by store:")
print(monthly_metrics)

Monthly metrics by store:
    STORE_NBR      MONTH  TOTAL_SALES  NUM_CUSTOMERS  NUM_TRANSACTIONS  \
0          77 2018-07-31       296.80             51                55
1          77 2018-08-31       255.50             47                48
2          77 2018-09-30       225.20             42                44
3          77 2018-10-31       204.50             37                38
4          77 2018-11-30       245.30             41                44
5          77 2018-12-31       267.30             46                49
6          77 2019-01-31       204.40             35                39
7          77 2019-02-28       235.00             45                45
8          77 2019-03-31       278.50             50                55
9          77 2019-04-30       263.50             47                48
10         77 2019-05-31       299.30             55                56
11         77 2019-06-30       264.70             41                42
12         86 2018-07-31       892.20             99               126
13         86 2018-08-31       764.05             94               112
14         86 2018-09-30       914.60            103               129
15         86 2018-10-31       948.40            109               138
16         86 2018-11-30       918.00            100               127
17         86 2018-12-31       841.20             98               120
18         86 2019-01-31       841.40             94               130
19         86 2019-02-28       913.20            107               139
20         86 2019-03-31      1026.80            115               142
21         86 2019-04-30       848.20            105               127
22         86 2019-05-31       889.30            104               129
23         86 2019-06-30       838.00             98               119
24         88 2018-07-31      1310.00            129               153
25         88 2018-08-31      1323.80            131               160
26         88 2018-09-30      1423.00            124               159
27         88 2018-10-31      1352.40            123               158
28         88 2018-11-30      1382.80            130               157
29         88 2018-12-31      1325.20            126               149
30         88 2019-01-31      1266.40            117               146
31         88 2019-02-28      1370.20            124               154
32         88 2019-03-31      1477.20            134               170
33         88 2019-04-30      1439.40            128               162
34         88 2019-05-31      1308.25            128               155
35         88 2019-06-30      1354.60            121               150

    TRANS_PER_CUSTOMER
0             1.078431
1             1.021277
2             1.047619
3             1.027027
4             1.073171
5             1.065217
6             1.114286
7             1.000000
8             1.100000
9             1.021277
10            1.018182
11            1.024390
12            1.272727
13            1.191489
14            1.252427
15            1.266055
16            1.270000
17            1.224490
18            1.382979
19            1.299065
20            1.234783
21            1.209524
22            1.240385
23            1.214286
24            1.186047
25            1.221374
26            1.282258
27            1.284553
28            1.207692
29            1.182540
30            1.247863
31            1.241935
32            1.268657
33            1.265625
34            1.210938
35            1.239669

C:\Users\PC\AppData\Local\Temp\ipykernel_17720\1408615263.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  pd.Grouper(key='DATE', freq='M')

In [5]:
# Get control stores (all stores except trial stores)
control_stores = df[~df['STORE_NBR'].isin([77, 86, 88])][['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TOT_SALES']]

# Group by store and month, calculate same metrics
control_monthly_metrics = control_stores.groupby([
    'STORE_NBR',
    pd.Grouper(key='DATE', freq='M')
]).agg({
    'TOT_SALES': 'sum',
    'LYLTY_CARD_NBR': ['nunique', 'count']
}).reset_index()

# Rename columns to match trial metrics
control_monthly_metrics.columns = [
    'STORE_NBR',
    'MONTH', 
    'TOTAL_SALES',
    'NUM_CUSTOMERS',
    'NUM_TRANSACTIONS'
]

# Calculate transactions per customer
control_monthly_metrics['TRANS_PER_CUSTOMER'] = control_monthly_metrics['NUM_TRANSACTIONS'] / control_monthly_metrics['NUM_CUSTOMERS']

# Get min and max dates from dataset
date_range = pd.date_range(start=df['DATE'].min(), end=df['DATE'].max(), freq='M')

# Filter for stores that have data for all months
store_counts = control_monthly_metrics.groupby('STORE_NBR').size()
complete_stores = store_counts[store_counts == len(date_range)].index

control_monthly_metrics = control_monthly_metrics[
    control_monthly_metrics['STORE_NBR'].isin(complete_stores)
].sort_values(['STORE_NBR', 'MONTH'])

print("\nMonthly metrics for control stores (with complete data):")
print(control_monthly_metrics)

Monthly metrics for control stores (with complete data):
      STORE_NBR      MONTH  TOTAL_SALES  NUM_CUSTOMERS  NUM_TRANSACTIONS  \
0             1 2018-07-31        206.9             49                52
1             1 2018-08-31        176.1             42                43
2             1 2018-09-30        278.8             59                62
3             1 2018-10-31        188.1             44                45
4             1 2018-11-30        192.6             46                47
...         ...        ...          ...            ...               ...
3128        272 2019-02-28        395.5             45                48
3129        272 2019-03-31        442.3             50                53
3130        272 2019-04-30        445.1             54                56
3131        272 2019-05-31        314.6             34                40
3132        272 2019-06-30        312.1             34                37

      TRANS_PER_CUSTOMER
0               1.061224
1               1.023810
2               1.050847
3               1.022727
4               1.021739
...                  ...
3128            1.066667
3129            1.060000
3130            1.037037
3131            1.176471
3132            1.088235

[3084 rows x 6 columns]

C:\Users\PC\AppData\Local\Temp\ipykernel_17720\3862752838.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  pd.Grouper(key='DATE', freq='M')
C:\Users\PC\AppData\Local\Temp\ipykernel_17720\3862752838.py:26: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  date_range = pd.date_range(start=df['DATE'].min(), end=df['DATE'].max(), freq='M')

In [6]:
control_stores

        DATE  STORE_NBR  LYLTY_CARD_NBR  TOT_SALES
0 2018-10-17          1            1000        6.0
1 2019-05-14          1            1307        6.3
2 2019-05-20          1            1343        2.9
3 2018-08-17          2            2373       15.0
4 2018-08-18          2            2426       13.8